body{
    background-color: rgb(226, 217, 217);
}
.fa{
    color:rgb(39, 39, 109);
}
.box-part{
    background-color: whitesmoke;
    padding: 40px 5px;
    margin: 50px;
}
span{
    font-size: 12px;;
}
.box{
    padding:60px 0px;
}
.a{
    border-bottom: 1px solid blue;
}